<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jetair.db.dao.LotteryPassengerDao">
  <resultMap id="BaseResultMap" type="com.jetair.db.model.LotteryPassenger">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="order_no" jdbcType="VARCHAR" property="orderNo" />
    <result column="mileage_card" jdbcType="VARCHAR" property="mileageCard" />
    <result column="sur_name" jdbcType="VARCHAR" property="surName" />
    <result column="given_name" jdbcType="VARCHAR" property="givenName" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="card_no" jdbcType="VARCHAR" property="cardNo" />
    <result column="card_type" jdbcType="VARCHAR" property="cardType" />
    <result column="redeem_voucher_no" jdbcType="VARCHAR" property="redeemVoucherNo" />
    <result column="redeem_state" jdbcType="VARCHAR" property="redeemState" />
    <result column="lottery_vouchar_no" jdbcType="VARCHAR" property="lotteryVoucharNo" />
    <result column="channel" jdbcType="VARCHAR" property="channel" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="opt_time" jdbcType="TIMESTAMP" property="optTime" />
    <result column="points" jdbcType="VARCHAR" property="points" />
    <result column="bet_count" jdbcType="INTEGER" property="betCount" />
    <result column="lottery_issue" jdbcType="VARCHAR" property="lotteryIssue"/>
    <result column="times" jdbcType="INTEGER" property="times"/>
  </resultMap>
  <sql id="Base_Column_List">
    id, order_no, mileage_card, sur_name,given_name, phone, card_no, card_type, redeem_voucher_no, redeem_state, 
    lottery_vouchar_no, channel, create_time, opt_time, points,bet_count,lottery_issue,times
  </sql>
  <select id="findById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from lottery_passenger
    where id = #{id,jdbcType=INTEGER}
  </select>
   <select id="findByOrderNo" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from lottery_passenger
    where order_no = #{orderNo,jdbcType=VARCHAR}
  </select>
  <insert id="insert" keyProperty="id" parameterType="com.jetair.db.model.LotteryPassenger" useGeneratedKeys="true">
    insert into lottery_passenger
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="orderNo != null">
        order_no,
      </if>
      <if test="mileageCard != null">
        mileage_card,
      </if>
      <if test="surName != null">
        sur_name,
      </if> 
      <if test="givenName != null">
        given_name,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="cardNo != null">
        card_no,
      </if>
      <if test="cardType != null">
        card_type,
      </if>
      <if test="redeemVoucherNo != null">
        redeem_voucher_no,
      </if>
      <if test="redeemState != null">
        redeem_state,
      </if>
      <if test="lotteryVoucharNo != null">
        lottery_vouchar_no,
      </if>
      <if test="channel != null">
        channel,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="optTime != null">
        opt_time,
      </if>
      <if test="points != null">
        points,
      </if>
      <if test="betCount != null">
        bet_count,
      </if>
      <if test="lotteryIssue != null">
        lottery_issue,
      </if>
        <if test="times != null">
        times,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="orderNo != null">
        #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="mileageCard != null">
        #{mileageCard,jdbcType=VARCHAR},
      </if>
       <if test="surName != null">
        #{surName,jdbcType=VARCHAR},
      </if>
      <if test="givenName != null">
        #{givenName,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="cardNo != null">
        #{cardNo,jdbcType=VARCHAR},
      </if>
      <if test="cardType != null">
        #{cardType,jdbcType=VARCHAR},
      </if>
      <if test="redeemVoucherNo != null">
        #{redeemVoucherNo,jdbcType=VARCHAR},
      </if>
      <if test="redeemState != null">
        #{redeemState,jdbcType=VARCHAR},
      </if>
      <if test="lotteryVoucharNo != null">
        #{lotteryVoucharNo,jdbcType=VARCHAR},
      </if>
      <if test="channel != null">
        #{channel,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="optTime != null">
        #{optTime,jdbcType=TIMESTAMP},
      </if>
      <if test="points != null">
        #{points,jdbcType=VARCHAR},
      </if>
       <if test="betCount != null">
        #{betCount,jdbcType=VARCHAR},
      </if>
      <if test="lotteryIssue != null">
        #{lotteryIssue,jdbcType=VARCHAR},
      </if>
      <if test="times != null">
        #{times,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="update" parameterType="com.jetair.db.model.LotteryPassenger">
    update lottery_passenger
    <set>
      <if test="orderNo != null">
        order_no = #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="mileageCard != null">
        mileage_card = #{mileageCard,jdbcType=VARCHAR},
      </if>
      <if test="surName != null">
        sur_name = #{surName,jdbcType=VARCHAR},
      </if>
        <if test="givenName != null">
        given_name = #{givenName,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="cardNo != null">
        card_no = #{cardNo,jdbcType=VARCHAR},
      </if>
      <if test="cardType != null">
        card_type = #{cardType,jdbcType=VARCHAR},
      </if>
      <if test="redeemVoucherNo != null">
        redeem_voucher_no = #{redeemVoucherNo,jdbcType=VARCHAR},
      </if>
      <if test="redeemState != null">
        redeem_state = #{redeemState,jdbcType=VARCHAR},
      </if>
      <if test="lotteryVoucharNo != null">
        lottery_vouchar_no = #{lotteryVoucharNo,jdbcType=VARCHAR},
      </if>
      <if test="channel != null">
        channel = #{channel,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="optTime != null">
        opt_time = #{optTime,jdbcType=TIMESTAMP},
      </if>
      <if test="points != null">
        points = #{points,jdbcType=VARCHAR},
      </if>
      <if test="betCount != null">
        bet_count = #{betCount,jdbcType=VARCHAR},
      </if>
      <if test="lotteryIssue != null">
        lottery_issue=#{lotteryIssue,jdbcType=VARCHAR},
      </if>
      <if test="times != null">
        times = #{times,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <sql id="sqlfileders">
    <bind name="fileders" value="#{'id':'id','orderNo':'order_no','mileageCard':'mileage_card','name':'name','phone':'phone','cardNo':'card_no','cardType':'card_type','redeemVoucherNo':'redeem_voucher_no','redeemState':'redeem_state','lotteryVoucharNo':'lottery_vouchar_no','channel':'channel','createTime':'create_time','optTime':'opt_time','points':'points'}" />
    <bind name="javapropertys" value="#{'id':'id','order_no':'orderNo','mileage_card':'mileageCard','name':'name','phone':'phone','card_no':'cardNo','card_type':'cardType','redeem_voucher_no':'redeemVoucherNo','redeem_state':'redeemState','lottery_vouchar_no':'lotteryVoucharNo','channel':'channel','create_time':'createTime','opt_time':'optTime','points':'points'}" />
  </sql>
</mapper>